body{
    background-color: black;
    color: whitesmoke;
    margin: 50px;
}
.center{
    text-align: center;
    float: center;
}
h1, h2{
    font-family: 'Rubik Glitch', system-ui;
    color: whitesmoke
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
nav a{
    color:#05BFDB;
    transition-duration: 300ms;
    font-family: 'Josefin Sans', sans-serif;
}
nav a:hover{
    color:#9269e4;
}